/* You can add global styles to this file, and also import other style files */


html {
    box-sizing: border-box;
    font-size: 62.5%;

}

*,
*::before,
*::after {
    /* font-family: 'poppins-bold' !important; */
    line-height: 2rem !important;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    caret-color: transparent !important;    /*Oculta el cursor de texto, y tambien con F7 para hacerlo desde el navegador */
}

input {
    caret-color: auto;
}



/*  TEXTO  */




h2 {
    font-size: 3rem;
    color: var(--primary);
    text-align: center;
    margin: 2rem 0;
    font-family: 'poppins-regular' !important;
}

h3, h4 {
    font-family: 'poppins-bold' !important;
}

p, a {
    font-size: 1.5rem;
    font-family: 'poppins-regular' !important;
}

span {
    font-family: 'poppins-regular' !important;
}



/*  UTILIDADES  */



.container {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
}



/*  ROOT Y FONT  */



@font-face {
    font-family: 'poppins-bold';
    src: url("app/assets/fonts/poppins-bold.ttf") format('opentype');
}

@font-face {
    font-family: 'poppins-regular';
    src: url("app/assets/fonts/poppins-regular.ttf") format('opentype');
}
